{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>

    <nav style="text-align: right">
         {% if request.user.is_authenticated %}
            <div>
                {{ request.user.username }} 님 환영합니다.
                <form action="{% url 'todo:cbv_todo_list' %}" method="POST">
                    {% csrf_token %}
                    <button>Logout</button>
                </form>
            </div>
        {% else %}
            <div>
                <a href="{% url 'signup' %}">회원가입</a>
                <a href="{% url 'login' %}">로그인</a>
            </div>
        {% endif %}

    </nav>
    {% block content %} {% endblock %}
</body>
</html>